.block02{
  background-color: #f8f8fd;
  &__boxStep{
    &__body{
      padding-top: 25px;
    }
    &__btnLabel{
      background: $color1;
      min-width: 131px;
      bottom: -13px;
    }
    &__txt{
      font-family: $font-Verdana-Regular;
      @extend .fz-11;
      line-height: (11/10.9);
      color: #ffffff;
    }
    &__title{
      font-family: $font-Roboto-Black;
      color: $color1;
      line-height: (26/22);
      @extend .fz-22;
      margin-bottom: 8px !important;
      @include media-breakpoint-up('m'){
        margin-bottom: 12px !important;
      }
    }
    &__desc{
      color: #2a3847;
      line-height: (17/16);
      @extend .fz-16;
    }
  }
}